body{
    margin: 0 auto;
}


header > img{
    width: 20%;
    margin-left: 10px;


}

header{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 250px;
    padding-top: 30px;
}

main{
    margin-left: 10px;
}

.written-by{
    display: inline-block;
    font-weight:bold;
    color: #838383;

}

.author-link{
    display: inline-block;
    text-decoration: none;
    font-weight:bolder;
    color: #4EA0FF;
}

.small-text{
    font-size: smaller;
    line-height: 1;
    font-weight:lighter;
    margin-top: 1px;
}

figure{
    width: auto;
    margin-left: 0;
}